*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0a0808, #0f0e0e);
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #2b2b2b, #1d1b1b);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header Section */
h2{
    font-family: 'Space Mono', monospace;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: #e2e2e2;
    border-top: 5px double #e2e2e2;
    border-bottom: 5px double #e2e2e2;
}

/* Timer Section */
.watch-container{
    padding: 60px 10px;
    border-radius: 50%;
    border: 10px double #e2e2e2;
    margin: 1rem 0 2rem 0;
    background: linear-gradient(to right, #de6161, #3a6186, #89253e, #2657eb);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 2rem;
    color: #e2e2e2;
}

/* Button Section */
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 15px;
    margin: 0 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.8s;
}

.fa-play,
.fa-redo{
    margin: 0;
}

i{
    font-size: 1rem;
}

/* Lap Records Section */
ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

li {
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
    color: #e2e2e2;
    list-style-type: decimal;
    margin: 5px 20px;
}
/* Footer Section */
p.footer{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #818181;
    margin-top: 1rem;
}

/* Hover States */
button:hover{
    color: #ffffff;
    background-image: linear-gradient(to right, #2b2b2b, #1d1b1b);
    box-shadow: 5px 5px 5px black, -5px -5px 5px rgb(97, 97, 97);
    transition: 0.8s;
}

/* Animations */
@keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 100%;
    }
  }

  /* Media Queries */
  @media screen and (min-width: 360px){
    h2{
        font-size: 2.2rem;
    }
    button{
        padding: 10px 17px;
        margin: 0 0.6rem;
    }
  }

  @media screen and (min-width: 414px){
    button{
        padding: 10px 20px;
        margin: 0 0.7rem;
    }
  }

  @media screen and (min-width: 760px){
    body{
        background-image: linear-gradient(to bottom, #222121, #222121);
        background-image: linear-gradient(to bottom, #333333, #222121, #111111, #333333);
    }
    .container{
        width: 70%;
    }
    button{
        margin: 0 1rem;
    }
  }